<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="card">
                <div class="grid">
                    <div class="col-12">
                        <div class="card">

                            <div class="card">
                                <!-- El componente recibe datos a través de @Input -->
                                <app-product-form [productData]="product" [isEditing]="true">
                                </app-product-form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>